@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form action="/FormHandler" method="get">
    <label for="ID">Enter Your ID:</label>
    <input id="ID " type="number" name="ID" value="" required />

    <label for="Name">Enter Your Name:</label>
    <input id="Name" type="text" name="Name" value="" required />

    <label for="Image">Enter image Url:</label>
    <input id="Image" type="text" name="Image" value="" required />

    <input type="Submit" name="Submit" value="Submit" />
</form>